

html {

	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

body {

	background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/office.png");
	height: 1000px;

}

header {

	background: linear-gradient(#000186,#000140);
	text-align: center;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
}

h1 {
	font-size: 50px;
	color: #F5F5F5;
	font-family: 'Bangers', cursive;
	text-transform: uppercase;
	text-shadow: 2px 2px #ff0000;
}

main {

	background: linear-gradient(#0000AB, #000029);
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
	margin-top: 100px;
	height: auto;
	padding-left: 20px;
  	padding-right: 20px;

}

.search-container {

	margin-top: 200px;
	margin-bottom: 200px;
}

.search-description {

	margin-top: 150px;
}

h2, form {

	text-align: center;
}

.movieContainer {

	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

.poster {

	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
}

.movieContentContainer {

	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px;
	
}

.movieTitle {

	text-align: center;
}

.movieReleaseDate {

	text-align: center;
}

.movieRating {

	height:50px;
	width: 50px;
	padding-top: 12px;
	border: 1px solid black;
	border-radius: 30px/10px;
	background-color: gold;
	text-align: center;
	color: black;
	font-weight: 700;

}