

html {

	height: 100%;
/*	font-family: 'Open Sans', sans-serif;*/
}

body {

	background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/office.png");
	height: auto;

}

header {

	background: black;
	text-align: center;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
}

.logo-container {

	display: block;
	border: 5px solid #FFD200;
	width: 300px;
	background: black;
	margin: 40px auto;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black;
}

h1 {

	font-family: 'Knewave', cursive;
	display: inline-block;
	font-size: 40px;
	letter-spacing: 7px;
/*	color: #FFD200;*/
	color: #FE4330;
/*	font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
	text-transform: uppercase;
}

h1:hover {

	color: #cca700;
}

.search-bar-background {

	height: 50px;
	width: 100%;
	background: white;
	margin: 0;
	padding: 0;
}

nav {

	display: inline;
	color: black;
	margin-right: 750px;
	text-align: left;
	font-size: 20px;
}

.movie-search-toggle {

	background: white;
}

.tv-shows-search-toggle {

	background: lightgray;
}

.movie-search-toggle, .tv-shows-search-toggle {

	border: 3px solid black;
	border-bottom: none;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.movie-search-toggle:hover, .tv-shows-search-toggle:hover { 
    background-color: darkgray;
}



#js-query {

	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background: white;
	font-style: italic;
	font-size: 20px;

}

main {

	background: linear-gradient(#082667, #082667);
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
	margin-top: 100px;
	height: auto;
	padding-left: 20px;
  	padding-right: 20px;

}

.introduction {

	margin: 50px;
	line-height: 1.5;


}

h2 {

	margin-top: 300px;
	margin-bottom: 50px;
}


h2, form {

	text-align: center;
}

.movieContainer {

	border: 5px solid white;
	border-radius: 5px;

}

.poster {

	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
}

.movieContentContainer {

	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px;
	
}

.movieTitle, .movieReleaseDate, .overviewDescription {

	text-align: center;
}

.wa-star-bar-rating,
.wa-star-bar-rating i {
display: block;
height: 30px;
}
.wa-star-bar-rating {
width: 150px;
-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 150 150" height="150px" width="150px"><g transform="translate(-25,0)"><path d="m 172.35714,67.190469 -36.77859,35.505441 8.39818,50.4259 -45.132893,-24.00674 -45.362705,23.5696 8.884939,-50.34242 L 25.932197,66.483167 76.55628,59.376583 99.401613,13.644842 121.80408,59.595151 Z" /></g></svg>') repeat-x;
mask: url('data:image/svg+xml;utf8,<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 150 150" height="150px" width="150px"><g transform="translate(-25,0)"><path d="m 172.35714,67.190469 -36.77859,35.505441 8.39818,50.4259 -45.132893,-24.00674 -45.362705,23.5696 8.884939,-50.34242 L 25.932197,66.483167 76.55628,59.376583 99.401613,13.644842 121.80408,59.595151 Z" /></g></svg>') repeat-x;
-webkit-mask-size: 30px 30px;
mask-size: 30px 30px;
background-color: #aaa;
}
.wa-star-bar-rating i {
background-color: #fe9100;
}

.moreInfoContainer {

	text-align: center;
	margin-top: 15px;

}

.moreInfo, .trailer, .backToOverview {

	text-decoration: none;
	color: #FEDB3A;
	margin-right: 15px;
}

.moreInfo:hover, .trailer:hover, .backToOverview:hover, { 
    color: #C5A200;
}

.movieOverviewPage {


}

.wikipediaInfoPage {

	display: none;
}

.trailerPage {

	display:none;
}

.TMDBLogo {

	height: 50px;
	width: auto;
	position: relative;
	float: right;
	bottom: 0;
	right: 0;
	margin: 10px;
}